/* Styles for the navigation bar */
nav {
    max-width: 1000px;
    margin: auto;
    font-family: 'Comic Sans MS', cursive;
    font-weight: 600;
    font-size: 1.5em;
    background-color: skyblue;
}

header {
    background-color: #663399; /* Hexadecimal code for rebeccapurple */
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
footer {
    background-color: #663399; /* Hexadecimal code for rebeccapurple */
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

nav ul li {
    list-style-type: none;
    padding: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
}


main {
    max-width: 800px;
    margin: auto;
    font-size: 1rem;
}


h1 {
    font-family: 'Comic Sans MS', cursive;
    font-weight: 900;
    font-size: 60px;
    text-transform: none;
    margin: 1rem;
    text-align: center; /* Center the text */
    color: white; /* Set the text color to white */
    background-color: #663399; /* Set the background color to rebeccapurple */
}

/* Heading 2 styles */
h2 {
    font-family: 'Comic Sans MS', cursive;
    font-weight: 600;
    font-size: 24px; /* Adjust the font size as needed */
}

/* Responsive styles for screens with a minimum width of 480px */
@media screen and (min-width: 480px) {
    body {
        background-color: darkblue;
    }
}

/* Responsive styles for screens with a minimum width of 720px */
@media screen and (min-width: 720px) {
    body {
        background-color: rgb(173, 216, 230);
    }
}
