/* Styles for the navigation bar */
nav {
    max-width: 1000px;
    margin: auto;
    font-family: 'Comic Sans MS', cursive;
    font-weight: 600;
    font-size: 1.5em;
    background-color: #005C5C;
}


footer {
    background-color: #005C5C; 
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: white;
}

nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

nav ul li {
    list-style-type: none;
    padding: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
}


main {
    max-width: 800px;
    margin: auto;
    font-size: 1rem;
}

/* CSS for .text-holder class in the location list page */
.location-list .text-holder {
    width: 100%; /* Spans 100% of its parent */
    background-color: #ECECEC; /* Change to the desired background color */
    padding: 5px; 
    margin: 0; /* Remove any default margin */
    border: 5px solid #CCCCCC; /* Add a border if desired */
    /* Add other text-holder styling properties */
}

/* CSS for .location-holder class with the same properties as .media-holder */
.location-holder, .media-holder {
    background-color: #F5F5F5; /* Example background color */
    padding: 20px; /* Example padding */
    border: 1px solid #DDDDDD; /* Example border */
    /* Add other shared styling properties for location-holder and media-holder */
}

h1 {
    font-family: 'Comic Sans MS', cursive;
    font-weight: 900;
    font-size: 60px;
    text-transform: none;
    margin: 1rem;
    text-align: center;
    color: #002C56; /* Or use the hex color code: #663399 */
}

/* Heading 2 styles */
h2 {
    font-family: 'Comic Sans MS', cursive;
    font-weight: 600;
    font-size: 24px; /* Adjust the font size as needed */
     color: #D50032
}

/* Responsive styles for screens with a minimum width of 480px */
@media screen and (min-width: 480px) {
    body {
        background-color: #C4CED4;
    }
}


}



/* Responsive styles for screens with a minimum width of 720px */
@media screen and (min-width: 720px) {
    body {
        background-color: rgb(173, 216, 230);
    }
}
